@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Barlow.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  /* Palette: https://www.colorhexa.com/666999 */
  --haze-color-darkbluegray: #666999;
  --haze-color-tuscany: #b8a494;
  --haze-color-green: #699966;
  --haze-color-light: #efebe7;
  --haze-color-dark: #333333;
  --haze-font-fam: 'Barlow', sans-serif;
}

body {
  background-color: var(--haze-color-dark);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--haze-color-darkbluegray);
  width: 100%;
}

#logo {
  display: flex;
  margin-left: 2%;
  align-self: center;
}

#navbar {
  display: flex;
  align-items: center;
  justify-items: center;
}

.navbar-item {
  display: flex;
  padding: 10px;
  font-size: 25px;
  font-family: var(--haze-font-fam);
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

#search-area {
  display: flex;
  background-color: var(--haze-color-light);
  border: 5px solid var(--haze-color-tuscany);
  border-radius: 30px;
  height: 2.5rem;
}

#search-bar {
  display: flex;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-family: var(--haze-font-fam);
  padding-left: 10px;
}

#search-icon {
  display: flex;
  color: var(--haze-color-tuscany);
  align-self: center;
  text-align: right;
  text-decoration: none;
  font-size: 30px;
  padding-right: 10px;
}

#userspace {
  display: flex;
  margin-right: 2%;
}

#userspace img {
  padding: 10px;
  max-width: 54px;
}

#featured {
  display: flex;
  justify-content: center;
}

.featured-button {
  display: flex;
  align-items: center;
}

.featured-button button {
  background-color: var(--haze-color-tuscany);
  color: white;
  border: solid 4px white;
  font-size: 50px;
}

#featured-button-left {
  border-right: hidden;
  border-top-left-radius: 5px;
  border-bottom-width: 7px;
  border-bottom-left-radius: 20px;
}

#featured-button-right {
  border-left: hidden;
  border-top-right-radius: 5px;
  border-bottom-width: 7px;
  border-bottom-right-radius: 20px;
}

.featured-item {
  display: flex;
  background-color: var(--haze-color-darkbluegray);
  color: white;
  border: white solid 5px;
  border-color: var(--haze-color-light);
  margin-top: 25px;
  width: 900px;
  height: 400px;
}

#feature-cover {
  display: flex;
}

#featured-pannel {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#featured-title {
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-tags {
  display: inline-flex;
  background-color: var(--haze-color-dark);
  border-radius: 7px;
  margin-left: 5px;
  padding: 3px;
  font-size: medium;
  font-family: var(--haze-font-fam);
}

.game-tags:first-child {
  margin-left: 0;
}

.buy-button {
  display: flex;
  justify-content: right;
  color: var(--haze-color-light);
}

.buy-button button {
  background-color: var(--haze-color-green);
}

#featured-buy-button {
  border: solid 4px white;
  font-size: 40px;
}