@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Barlow.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --haze-color-bluegray: #666999;
  --haze-color-darkbluegray: #444666;
  --haze-color-tuscany: #b8a494;
  --haze-color-green: #699966;
  --haze-color-light: #efebe7;
  --haze-color-dark: #333333;
  --haze-font-fam: 'Barlow', sans-serif;
}

body {
  background-color: var(--haze-color-dark);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--haze-color-bluegray);
  width: 100%;
}

#logo {
  display: flex;
  margin-left: 10%;
  align-self: center;
}

#navbar {
  display: flex;
  align-items: center;
  justify-items: center;
}

.navbar-item {
  display: flex;
  padding: 10px;
  font-size: 25px;
  font-family: var(--haze-font-fam);
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

#search-area {
  display: flex;
  background-color: var(--haze-color-light);
  border: 5px solid var(--haze-color-tuscany);
  border-radius: 30px;
  height: 2.5rem;
}

#search-bar {
  display: flex;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-family: var(--haze-font-fam);
  padding-left: 10px;
}

#search-icon {
  display: flex;
  color: var(--haze-color-tuscany);
  align-self: center;
  text-align: right;
  text-decoration: none;
  font-size: 30px;
  padding-right: 10px;
}

#userspace {
  display: flex;
  margin-right: 10%;
}

#userspace img {
  padding: 10px;
  max-width: 54px;
}

#featured {
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
  user-select: none;
}

.featured-button {
  display: flex;
}

.featured-button button {
  display: flex;
  align-items: center;
  background-color: var(--haze-color-tuscany);
  color: white;
  border: solid 5px var(--haze-color-light);
  font-size: 50px;
  padding: 10px;
}

.featured-button :hover {
  cursor: pointer;
}

#featured-button-left {
  border-right: hidden;
  border-top-left-radius: 30px;
  border-bottom-width: 15px;
  border-bottom-left-radius: 20px;
}

#featured-button-right {
  border-left: hidden;
  border-top-right-radius: 30px;
  border-bottom-width: 15px;
  border-bottom-right-radius: 20px;
}

.featured-container {
  overflow: hidden;
  background-color: var(--haze-color-bluegray);
  color: white;
  border: white solid 5px;
  border-color: var(--haze-color-light);
  border-bottom-width: 15px;
  width: 1000px;
  height: 400px;
}

.feature-cover {
  display: flex;
}

.featured-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.featured-content-end {
  margin-bottom: 10px;
}

.featured-title {
  resize: both;
  display: inline-block;
  white-space: nowrap;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.featured-description {
  font-size: 18px;
}

.game-tags-container {
  display: flex;
}

.game-tags-container div {
  background-color: var(--haze-color-darkbluegray);
  color: white;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 7px;
  padding: 3px;
  text-decoration: none;
  font-size: medium;
  font-family: var(--haze-font-fam);
}

.game-tags-container :first-child {
  margin-left: 0;
}

.game-tags {
  background-color: var(--haze-color-dark);
  border-radius: 7px;
  margin-left: 5px;
  padding: 3px;
  font-size: medium;
  font-family: var(--haze-font-fam);
}

.featured-buy-button {
  display: flex;
  align-items: center;
  color: var(--haze-color-light);
  font-family: var(--haze-font-fam);
}

.featured-buy-button button {
  color: var(--haze-color-bluegray);
  background-color: var(--haze-color-light);
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  font-family: var(--haze-font-fam);
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.featured-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--haze-color-green);
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
  width: 90px;
  height: 30px;
}

.featured-price p {
  color: var(--haze-color-light);
  font-size: 16px;
}

#browse {
  justify-content: center;
  background: linear-gradient(90deg,
      var(--haze-color-tuscany) 0%,
      var(--haze-color-bluegray) 5%,
      var(--haze-color-dark) 20%,
      var(--haze-color-dark) 80%,
      var(--haze-color-bluegray) 95%,
      var(--haze-color-tuscany) 100%);
  padding: 0;
  color: white;
  font-family: var(--haze-font-fam);
}

.browse-category {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.top-sellers-row {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  margin: 10px 400px;
  padding: 10px;
}

.top-sellers-row a {
  margin-top: 10px;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
}

.top-sellers-col {
  max-width: 25%;
  border: solid var(--haze-color-tuscany);
  box-shadow: 0px 0px 5px 5px var(--haze-color-bluegray);
}

.top-sellers-col img {
  border-bottom: solid var(--haze-color-light);
  width: 100%;
}

.top-sellers-meta {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
  padding: 4px;
}

.top-sellers-meta h3 {
  color: var(--haze-color-light);
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.top-sellers-meta p {
  color: var(--haze-color-tuscany);
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.browse-container {
  display: flex;
  align-items: flex-start;
  margin: auto 20%;
  min-height: 700px;
  max-height: 1200px;
}

.browse-search {
  display: flex;
  flex-flow: wrap column;
  background-color: var(--haze-color-darkbluegray);
  border: solid 4px var(--haze-color-light);
  border-radius: 20px;
  border-left-width: 10px;
  padding: 10px;
  width: 20%;
}

.browse-search h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.browse-by-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.browse-by-tags span {
  display: flex;
  border: solid 1px var(--haze-color-light);
  border-radius: 10px;
  margin: 2px;
  padding: 4px;
  cursor: pointer;
}

.browse-item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.browse-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--haze-color-light);
  background-color: var(--haze-color-bluegray);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .2);
  margin: 10px;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
}

.browse-item img {
  display: flex;
  max-width: 200px;
}

.browse-item h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.browse-item-meta {
  padding-left: 10px;
  width: 80%;
}

.browse-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--haze-color-green);
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}

footer {
  display: flex;
}

.footer-distributed {
  background-color: var(--haze-color-dark);
  box-shadow: 0 0px 60px 60px var(--haze-color-tuscany);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 20px sans-serif;
  font-family: var(--haze-font-fam);
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}


.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed {
    font: bold 20px sans-serif;
    font-family: var(--haze-font-fam);
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 1
  }
}

@media screen and (max-width: 800px) {
  .browse-games {
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .browse-games {
    max-width: 100%;
  }
}